//color palette
$background: black;
$font-color: white;
$accent-color1: pink;   

//font sizes
$mobile-heading1: 3.5rem;
$mobile-heading2: 1rem;

$desktop-heading1: 5rem;
$desktop-heading2: 1.3rem;

//fonts
$main-font: 'Poppins', sans-serif;
$second-font: 'Roboto', sans-serif;

